/* Sermon Manager CSS http://www.wpforchurch.com/plugins/sermon-manager/ */

div.wpfc_sermon-audio {
	padding-top: 5px;
	padding-bottom: 5px;
	max-width: 100%!important;
}

div.wpfc_sermon-video {
	padding-top: 5px;
	padding-bottom: 5px;
	max-width: 100%;
}

.wpfc_date {
	text-transform: uppercase;
	font-size:.7em;
}

.single-wpfc_sermon a[href$='.ppt'], .single-wpfc_sermon a[href$='.pptx'] {
	background:url(icons/ppt.png) no-repeat  no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
.single-wpfc_sermon a[href$='.doc'], .single-wpfc_sermon a[href$='.rtf'], .single-wpfc_sermon a[href$='.docx']  {
	background:url(icons/word.png) no-repeat  no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
.single-wpfc_sermon a[href$='.pdf'] {
	background:url(icons/pdf.png) no-repeat  no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}